* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff url("../images/bg.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

button {
  color: #102f5e;
  background-color: #fdfdfd;
  padding: .3rem .6rem;
  border: 2px solid #102f5e;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}

button:hover {
  background-color: #102f5e;
  color: #fdfdfd;
}

button:hover i {
  color: #fdfdfd;
}

button i {
  color: #102f5e;
  font-weight: bold;
  pointer-events: none;
}

input, 
select {
  padding: 0.25rem 0.5rem;
}
/* 
.hide {
  display: none;
} */

.todo-container {  
  max-width: 450px;
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: 15px;
}